/* Coolors Exported Palette - https://coolors.co/000000-1098f7-ffffff-b89e97-decccc */

/* CSS HEX */
$black: #000000ff;
$dodger-blue: #1098f7ff;
$white: #ffffffff;
$silver-pink: #b89e97ff;
$pale-silver: #deccccff;

/* CSS HSL */
$black: hsla(0, 0%, 0%, 1);
$dodger-blue: hsla(205, 94%, 52%, 1);
$white: hsla(0, 0%, 100%, 1);
$silver-pink: hsla(13, 19%, 66%, 1);
$pale-silver: hsla(0, 21%, 84%, 1);

/* SCSS HEX */
$black: #000000ff;
$dodger-blue: #1098f7ff;
$white: #ffffffff;
$silver-pink: #b89e97ff;
$pale-silver: #deccccff;

/* SCSS HSL */
$black: hsla(0, 0%, 0%, 1);
$dodger-blue: hsla(205, 94%, 52%, 1);
$white: hsla(0, 0%, 100%, 1);
$silver-pink: hsla(13, 19%, 66%, 1);
$pale-silver: hsla(0, 21%, 84%, 1);

/* SCSS RGB */
$black: rgba(0, 0, 0, 1);
$dodger-blue: rgba(16, 152, 247, 1);
$white: rgba(255, 255, 255, 1);
$silver-pink: rgba(184, 158, 151, 1);
$pale-silver: rgba(222, 204, 204, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #000000ff, #1098f7ff, #ffffffff, #b89e97ff, #deccccff);
$gradient-right: linear-gradient(90deg, #000000ff, #1098f7ff, #ffffffff, #b89e97ff, #deccccff);
$gradient-bottom: linear-gradient(180deg, #000000ff, #1098f7ff, #ffffffff, #b89e97ff, #deccccff);
$gradient-left: linear-gradient(270deg, #000000ff, #1098f7ff, #ffffffff, #b89e97ff, #deccccff);
$gradient-top-right: linear-gradient(45deg, #000000ff, #1098f7ff, #ffffffff, #b89e97ff, #deccccff);
$gradient-bottom-right: linear-gradient(135deg, #000000ff, #1098f7ff, #ffffffff, #b89e97ff, #deccccff);
$gradient-top-left: linear-gradient(225deg, #000000ff, #1098f7ff, #ffffffff, #b89e97ff, #deccccff);
$gradient-bottom-left: linear-gradient(315deg, #000000ff, #1098f7ff, #ffffffff, #b89e97ff, #deccccff);
$gradient-radial: radial-gradient(#000000ff, #1098f7ff, #ffffffff, #b89e97ff, #deccccff);