/* Coolors Exported Palette - https://coolors.co/0d1821-344966-b4cde4-c6d19f-f0f4ef */

/* CSS HEX */
$rich-black-fogra-29: #0d1821ff;
$independence: #344966ff;
$beau-blue: #b4cde4ff;
$sage: #c6d19fff;
$baby-powder: #f0f4efff;

/* CSS HSL */
$rich-black-fogra-29: hsla(207, 43%, 9%, 1);
$independence: hsla(215, 32%, 30%, 1);
$beau-blue: hsla(209, 47%, 80%, 1);
$sage: hsla(73, 35%, 72%, 1);
$baby-powder: hsla(108, 19%, 95%, 1);

/* SCSS HEX */
$rich-black-fogra-29: #0d1821ff;
$independence: #344966ff;
$beau-blue: #b4cde4ff;
$sage: #c6d19fff;
$baby-powder: #f0f4efff;

/* SCSS HSL */
$rich-black-fogra-29: hsla(207, 43%, 9%, 1);
$independence: hsla(215, 32%, 30%, 1);
$beau-blue: hsla(209, 47%, 80%, 1);
$sage: hsla(73, 35%, 72%, 1);
$baby-powder: hsla(108, 19%, 95%, 1);

/* SCSS RGB */
$rich-black-fogra-29: rgba(13, 24, 33, 1);
$independence: rgba(52, 73, 102, 1);
$beau-blue: rgba(180, 205, 228, 1);
$sage: rgba(198, 209, 159, 1);
$baby-powder: rgba(240, 244, 239, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0d1821ff, #344966ff, #b4cde4ff, #c6d19fff, #f0f4efff);
$gradient-right: linear-gradient(90deg, #0d1821ff, #344966ff, #b4cde4ff, #c6d19fff, #f0f4efff);
$gradient-bottom: linear-gradient(180deg, #0d1821ff, #344966ff, #b4cde4ff, #c6d19fff, #f0f4efff);
$gradient-left: linear-gradient(270deg, #0d1821ff, #344966ff, #b4cde4ff, #c6d19fff, #f0f4efff);
$gradient-top-right: linear-gradient(45deg, #0d1821ff, #344966ff, #b4cde4ff, #c6d19fff, #f0f4efff);
$gradient-bottom-right: linear-gradient(135deg, #0d1821ff, #344966ff, #b4cde4ff, #c6d19fff, #f0f4efff);
$gradient-top-left: linear-gradient(225deg, #0d1821ff, #344966ff, #b4cde4ff, #c6d19fff, #f0f4efff);
$gradient-bottom-left: linear-gradient(315deg, #0d1821ff, #344966ff, #b4cde4ff, #c6d19fff, #f0f4efff);
$gradient-radial: radial-gradient(#0d1821ff, #344966ff, #b4cde4ff, #c6d19fff, #f0f4efff);