.registration-form {
    padding: 70px 0 120px 0;
    margin: 50px 0 50px 0;
}

.registration-form .form {
    max-width: 700px;
    margin: auto;
    padding: 55px 75px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
    background: linear-gradient(180deg, #C3D7E9, #D3E2EE, #E1EBF4, #F0F5F9);
}

.registration-form .form .form-icon {
    text-align: center;
    background-color: rgba(13, 24, 33, 1);
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto auto 50px;
    line-height: 100px;
}

.registration-form .form .item {
    background: white;
    border-radius: 8px;
    margin-bottom: 25px;
    padding: 10px 20px;
    border-color: rgba(52, 73, 102, 1);
}

.registration-form .form .login {
    border-radius: 6px;
    padding: 8px 18px;
    font-size: 16px;
    font-weight: bold;
    background-color: #0d1821ff;
    color: white;
    margin-top: 20px;
}

.registration-form .form .login:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.registration-form .additional {
    max-width: 700px;
    margin: auto;
    padding: 30px 0;
    text-align: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    color: rgba(0, 0, 0, 0.6);
    border-top: 2px solid rgba(180, 205, 228, 0.35);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.registration-form .additional a {
    border-radius: 6px;
    padding: 8px 18px;
    font-size: 16px;
    font-weight: bold;
    color: #0d1821ff;
    background: white;
    margin-top: 20px;
    border-color: #0d1821ff;
}

.registration-form .additional button {
    border-radius: 6px;
    padding: 8px 18px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: #0d1821ff;
    margin-top: 20px;
    border-color: #0d1821ff;
}

.registration-form .form .required-login-fields, .required-register-fields {
    display: none;
}