header .nav-link {
    color: #0d1821ff;
    font-size: 2.35vh;
    font-weight: 300;
}

header .nav-link:hover {
    color: #344966ff;
    transform: scale(1.05);
    font-weight: bold;
}

header .nav-link:active {
    color: #344966ff;
}

header .text-end .btn-signup {
    background-color: #344966ff;
    color: white;
}

header .logout {
    background: #344966ff;
    color: white;
}

header .logout:hover {
    background: white;
    color: #0d1821ff;
    border: 1px solid #344966ff;
    font-weight: 600;
}