header ul {
    margin-right: 2%;
}

header .nav-link {
    color: #0d1821ff;
    font-size: 2.35vh;
    font-weight: 300;
}

header .nav-link:hover {
    color: #344966ff;
    transform: scale(1.05);
    font-weight: bold;
}

header .nav-link:active {
    color: #344966ff;
}

header .login {
    background: #344966ff;
    color: white;
    margin-left: 40%;
}

header .login:hover {
    background: #456187;
    color: white;
}

header .logout {
    margin-left: 35%;
}

header .logout:hover {
    background: rgba(200, 200, 200, 0.25);
}