header .nav-link {
    color: #401f3eff;
    font-size: 2.25vh;
    font-weight: 250;
}

header .nav-link:hover {
    color: #8A4285;
    transform: scale(1.1);
    font-weight: bold;
}

header .nav-link:active {
    color: #8A4285;
}

header .text-end .btn-signup {
    background-color: #401f3eff;
    color: white;
}