#jumbotron-header .jumbotron {
    margin: 0;
    background-size: cover;
    background: url("../img/protest.png") no-repeat center fixed;
    color: #fff !important;
    height: 300px;
    position: relative;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .1);
}

#jumbotron-header .head-profile {
    margin-top: -120px;
    border-radius: 4px;
    position: relative;
}

#jumbotron-header .widget-profile {
    background: #fff;
    border-radius: 0;
    border: none;
    margin-bottom: 30px;
}

#jumbotron-header .has-shadow {
    box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .08);
}

#jumbotron-header .head-profile:before {
    content: "";
    background: rgba(255, 255, 255, .6);
    height: 20px;
    width: 90%;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 4px 4px 0 0;
}

#jumbotron-header .head-profile:after {
    content: "";
    background: rgba(255, 255, 255, .3);
    height: 20px;
    width: 80%;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 4px 4px 0 0;
}

#jumbotron-header .widget-body {
    padding: 1rem 1.4rem;
}

#jumbotron-header .headings {
    text-align: center;
    margin-top: 2.4rem;
    margin-bottom: 1.2rem;
}

#jumbotron-header h2 {
    color: #0d1821ff;
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: .2rem;
}

#jumbotron-header .subheading {
    margin-top: 2%;
    color: #344966ff;
    font-size: 1.1rem;
    padding-bottom: 2%;
}

#jumbotron-header .follow .bell {
    background: white;
    border-color: #ffcd00;
    color: #ffcd00;
    font-size: 2.2vh;
}

#jumbotron-header .follow .bell:hover {
    background: #ffd400;
    color: white;
    box-shadow: 1px 1px 2px 2px rgba(52, 40, 104, .125);
}

#jumbotron-header .btn-logout {
    background: #A5C3DF;
    color: white;
}

#jumbotron-header .btn-logout:hover {
    background: rgba(150, 185, 217, 1);
    box-shadow: 0 1px 6px 1px rgba(52, 40, 104, .15);
}

#jumbotron-header .head-profile li:first-child {
    padding-left: 0;
}

#jumbotron-header .head-profile li {
    display: inline-block;
    text-align: center;
    padding: 0 1rem;
}

#jumbotron-header .head-profile li .counter {
    color: #0d1821ff;
    font-size: 1.2rem;
    font-weight: 600;
}

#jumbotron-header .head-profile li .heading {
    color: #344966ff;
    font-size: 1rem;
}