#volunteer-opportunities .opportunity-box {
    padding: 20px;
    box-shadow: 0 0 6px rgba(31, 45, 61, 0.1);
    position: relative;
    z-index: 1;
    overflow: hidden;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    top: 0;
}

#volunteer-opportunities .opportunity-box * {
    -moz-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
    -webkit-transition: ease all 0.5s;
    transition: ease all 0.5s;
}

#volunteer-opportunities .opportunity-box .box-content h4 {
    color: #0d1821ff;
    font-weight: 600;
}

#volunteer-opportunities .opportunity-box .box-content p {
    color: #0d1821ff;
}

#volunteer-opportunities .opportunity-box:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    width: 0;
    background: #f0f4efff;
    z-index: -1;
    -moz-transition: ease all 1s;
    -o-transition: ease all 1s;
    -webkit-transition: ease all 1s;
    transition: ease all 1s;
}

#volunteer-opportunities .opportunity-box:hover {
    top: -2px;
}

#volunteer-opportunities .opportunity-box:hover:after {
    width: 100%;
    height: 100%;
    left: 0;
    right: auto;
}

#volunteer-opportunities .opportunity-box:hover .btn {
    background: #c6d19fff;
    border-color: #BDCA91;
    box-shadow: 0 0 6px rgba(31, 45, 61, 0.1);
}

#volunteer-opportunities .opportunity-box .btn:hover {
    background: #B4C383;
}