<div class="container" id="jumbotron-header">
    <div class="jumbotron jumbotron-fluid"></div>
    <div class="container-fluid p-5">
        <div class="row justify-content-center">
            <div class="col-xl-11">
                <div class="widget-profile head-profile has-shadow">
                    <div class="widget-body pb-0">
                        <div class="row d-flex align-items-center">
                            <div class="col-xl-4 col-md-4 d-flex justify-content-lg-start justify-content-md-start justify-content-center">
                                <ul>
                                    <li>
                                        <div th:text="${user.getInitiatives().size()}" class="counter"></div>
                                        <div class="heading">Initiatives</div>
                                    </li>
                                    <li>
                                        <div th:text="${user.getEvents().size()}" class="counter"></div>
                                        <div class="heading">Events</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xl-4 col-md-4 d-flex justify-content-center">
                                <div class="headings">
                                    <h2>Welcome back,
                                        <th:block th:text="${user.getName() + ' ' + user.getSurname()}"/>
                                    </h2>
                                    <div th:text="${user.getEmail()}" class="subheading"></div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 d-flex justify-content-lg-end justify-content-md-end justify-content-center">
                                <div class="px-4">
                                    <a class="btn btn-logout" href="/logout">Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pb-5 mb-5" id="my-initiatives">
    <div class="row">
        <div class="col-md-6">
            <div class="section-title">
                <h4>My Initiatives</h4>
            </div>
            <div th:if="${initiatives.size() > 0}">
                <ul class="list-group">
                    <li th:each="i : ${initiatives}" class="card box mb-2">
                        <div class="overlay">
                            <a th:href="@{'/initiatives/{id}' (id=${i.getId()})}" class="more-btn read-more">
                                Read more
                            </a>
                            &nbsp;
                            <a th:href="@{'/initiatives/{id}/remove-part' (id=${i.getId()})}"
                               class="more-btn remove">
                                Remove
                            </a>
                        </div>
                        <div class="card-header">
                            Initiator:
                            <b>
                                <th:block th:text="${i.getInitiator().getUsername()}"/>
                            </b>
                        </div>
                        <div class="card-body">
                            <h5 th:text="${i.getTitle()}" class="card-title pb-2"></h5>
                            <p th:text="${i.getDescription()}" class="card-text"></p>
                            <p class="card-text text-muted text-end">
                                Opened on:
                                <th:block
                                        th:text="${i.getDateOpened().getMonth() + ' ' + i.getDateOpened().getDayOfMonth() + ', ' + i.getDateOpened().getYear()}"/>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="section-title">
                <h4>Upcoming Events</h4>
            </div>
            <div th:if="${events.size() > 0}">
                <ul class="list-group">
                    <li th:each="e : ${events}" class="card mb-2">
                        <div class="card-header text-end">
                            Scheduled for:
                            <b>
                                <th:block
                                        th:text="${e.getDate().getMonth() + ' ' + e.getDate().getDayOfMonth() + ', ' + e.getDate().getYear() + ' ' + e.getTime()}"/>
                            </b>
                        </div>
                        <div class="card-body">
                            <h5 th:text="${e.getTitle()}" class="card-title pb-2"></h5>
                            <p th:text="${e.getDescription()}" class="card-text"></p>
                            <div class="text-end">
                                <a th:href="@{'/events/{id}/not-going' (id=${e.getId()})}"
                                   class="btn btn-outline-danger">
                                    Not going
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>