<div class="container py-5" id="faq">
    <div class="row pb-5">
        <div class="col-9 mx-auto">
            <h1 class="display-5 px-3 pb-2 title">Frequently Asked Questions</h1>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-9 mx-auto">
            <div class="accordion accordion-flush" id="faqsAccordion">
                <div class="accordion-item mb-5">
                    <h2 class="accordion-header" id="flush-heading1">
                        <button class="accordion-button collapsed fw-bold fs-5" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse1" aria-expanded="false"
                                aria-controls="flush-collapse1">
                            How can I join an initiative?
                        </button>
                    </h2>
                    <div id="flush-collapse1" class="accordion-collapse collapse" aria-labelledby="flush-heading1"
                         data-bs-parent="#faqsAccordion">
                        <div class="accordion-body">
                            You can simply join an initiative by clicking on the button labeled as
                            <i>Join this initiative</i>,
                            which you can find it whenever you open the initiative's details.
                        </div>
                    </div>
                </div>
                <div class="accordion-item mb-5">
                    <h2 class="accordion-header" id="flush-heading2">
                        <button class="accordion-button collapsed fw-bold fs-5" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse2" aria-expanded="false"
                                aria-controls="flush-collapse2">
                            What are the ways I can influence the course of an initiative?
                        </button>
                    </h2>
                    <div id="flush-collapse2" class="accordion-collapse collapse" aria-labelledby="flush-heading2"
                         data-bs-parent="#faqsAccordion">
                        <div class="accordion-body">
                            The course of an initiative is influenced solely by the participants' actions.
                            I.e., whenever a participant joins an initiative, fills a poll, becomes part
                            of a discussion or attends an event,
                            he/she plays an important role in the initiative's course.
                        </div>
                    </div>
                </div>
                <div class="accordion-item mb-5">
                    <h2 class="accordion-header" id="flush-heading3">
                        <button class="accordion-button collapsed fw-bold fs-5" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse3" aria-expanded="false"
                                aria-controls="flush-collapse3">
                            How can I announce my presence to an event?
                        </button>
                    </h2>
                    <div id="flush-collapse3" class="accordion-collapse collapse"
                         aria-labelledby="flush-heading3" data-bs-parent="#faqsAccordion">
                        <div class="accordion-body">
                            In the initiative's tab labeled as <i>EVENTS</i> you will see the opened events for
                            that initiative. You can announce your presence by simply clicking on the
                            <i>Going</i> button.
                        </div>
                    </div>
                </div>
                <div class="accordion-item mb-5">
                    <h2 class="accordion-header" id="flush-heading4">
                        <button class="accordion-button collapsed fw-bold fs-5" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse4" aria-expanded="false"
                                aria-controls="flush-collapse4">
                            Can I delete a comment after I post it on a discussion?
                        </button>
                    </h2>
                    <div id="flush-collapse4" class="accordion-collapse collapse"
                         aria-labelledby="flush-heading4" data-bs-parent="#faqsAccordion">
                        <div class="accordion-body">
                            Whenever you post a comment on a discussion, it will appear with your username,
                            the content that you wrote and in the top right corner of it,
                            there will be a red trashcan icon.
                            By clicking on that trashcan the comment will be deleted and therefore removed from
                            the discussion.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>