<div class="container db-social">
    <div class="jumbotron jumbotron-fluid"></div>
    <div class="container-fluid p-5">
        <div class="row justify-content-center">
            <div class="col-xl-11">
                <div class="widget-profile head-profile has-shadow">
                    <div class="widget-body pb-0">
                        <div class="row d-flex align-items-center">
                            <div class="col-xl-4 col-md-4 m-auto">
                                <div class="infos">
                                    <h2>All initiatives</h2>
                                    <div class="location">Read about the initiatives in your immediate environment</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-2 mb-5">
    <div class="row">

        <div class="col-md-4">
            <div class="feature-box-1">
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="feature-content">
                    <h5>Different Layout</h5>
                    <p>I design and develop services for customers of all sizes, specializing in creating
                        stylish, modern websites.</p>
                    <span class="text-small mt-3">No. of participants | 128</span>
                    <div class="text-end"><button class="btn btn-light">Read more</button></div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="feature-box-1">
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="feature-content">
                    <h5>Different Layout</h5>
                    <p>I design and develop services for customers of all sizes, specializing in creating
                        stylish, modern websites.</p>
                    <span class="text-small mt-3">No. of participants | 128</span>
                    <div class="text-end"><button class="btn btn-light">Read more</button></div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="feature-box-1">
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="feature-content">
                    <h5>Different Layout</h5>
                    <p>I design and develop services for customers of all sizes, specializing in creating
                        stylish, modern websites.</p>
                    <span class="text-small mt-3">No. of participants | 128</span>
                    <div class="text-end"><button class="btn btn-light">Read more</button></div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="feature-box-1">
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="feature-content">
                    <h5>Different Layout</h5>
                    <p>I design and develop services for customers of all sizes, specializing in creating
                        stylish, modern websites.</p>
                    <span class="text-small mt-3">No. of participants | 128</span>
                    <div class="text-end"><button class="btn btn-light">Read more</button></div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="feature-box-1">
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="feature-content">
                    <h5>Different Layout</h5>
                    <p>I design and develop services for customers of all sizes, specializing in creating
                        stylish, modern websites.</p>
                    <span class="text-small mt-3">No. of participants | 128</span>
                    <div class="text-end"><button class="btn btn-light">Read more</button></div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="feature-box-1">
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="feature-content">
                    <h5>Different Layout</h5>
                    <p>I design and develop services for customers of all sizes, specializing in creating
                        stylish, modern websites.</p>
                    <span class="text-small mt-3">No. of participants | 128</span>
                    <div class="text-end"><button class="btn btn-light">Read more</button></div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="feature-box-1">
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="feature-content">
                    <h5>Different Layout</h5>
                    <p>I design and develop services for customers of all sizes, specializing in creating
                        stylish, modern websites.</p>
                    <span class="text-small mt-3">No. of participants | 128</span>
                    <div class="text-end"><button class="btn btn-light">Read more</button></div>
                </div>
            </div>
        </div>

    </div>
</div>