<div class="container" id="jumbotron-header">
    <div class="jumbotron jumbotron-fluid"></div>
    <div class="container-fluid p-5">
        <div class="row justify-content-center">
            <div class="col-xl-11">
                <div class="widget-profile head-profile has-shadow">
                    <div class="widget-body pb-0">
                        <div class="row d-flex align-items-center">
                            <div class="col-xl-4 col-md-4 m-auto">
                                <div class="infos">
                                    <h2>All initiatives</h2>
                                    <div class="location">Read about the initiatives in your immediate environment</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:if="${initiatives.size() > 0}" class="container mb-5 pb-4">
    <div class="row">

        <div th:each="i : ${initiatives}" class="col-md-12">
            <div class="initiative-box mb-3">
                <div th:title="${i.getInitiator().getUsername()}" class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="initiative-content">
                    <h5 th:text="${i.getTitle()}" class="fw-bold pb-2"></h5>
                    <p th:text="${i.getDescription()}"></p>
                    <span class="mt-3">
                        Number of participants: <b><th:block th:text="${i.getParticipants().size()}"/></b>
                    </span>
                    <div class="text-end">
                        <a th:href="@{'/initiatives/{id}' (id=${i.getId()})}" class="btn btn-light">More activities</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>