<div class="container" id="jumbotron-header">
    <div class="jumbotron jumbotron-fluid"></div>
    <div class="container-fluid p-5">
        <div class="row justify-content-center">
            <div class="col-xl-11">
                <div class="widget-profile head-profile has-shadow">
                    <div class="widget-body pb-0">
                        <div class="row d-flex align-items-center">
                            <div class="col-xl-4 col-md-4 m-auto">
                                <div class="infos">
                                    <h2>Volunteer opportunities</h2>
                                    <div class="location">Read more about volunteer opportunities</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5" id="volunteer-opportunities">
    <div class="row">
        <div class="col-md-12" th:each="o : ${opportunities}">
            <div class="opportunity-box mb-4">
                <span class="d-block text-small mb-3">
                    <i class="fa fa-user"></i>
                    &nbsp;<th:block th:text="${o.getAuthor().getUsername()}"/>
                </span>
                <div class="box-content">
                    <h4 class="mb-3">
                        <th:block th:text="${o.getTopic()}"/>
                    </h4>
                    <p>
                        <th:block th:text="${o.getDescription()}"/>
                    </p>
                    <div th:if="${#request.getRemoteUser() != null}" class="text-end">
                        <button class="btn btn-light" type="button" data-bs-toggle="modal"
                                data-bs-target="#feedbackModal">I want to help
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fw-bold" id="feedbackModalLabel">
                            We are glad for your interest!
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Dear
                        <b><th:block th:if="${#request.getRemoteUser() != null}"
                                     th:text="${#request.getRemoteUser()}"/></b>, if you agree we will send you more
                        information on your email address on this matter, and continue the collaboration via email.
                        <span class="d-inline-block pt-2">Are you sure you want to engage in this opportunity?</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>